@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    /* background-color: #e21f1f; */
    display: flex;
    width: 100%;
    height: 10vh;
}

#logo {
    /* background: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.navbar-container {
    /* background-color: rgb(139, 183, 220); */
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 80%;
}

ul {
  display: flex;
}

li {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
}

.produk-container {
  /* background-color: #cec863; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.produk-card {
  position: relative;
  width: 500px;
  height: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.produk-card .produk-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.produk-card .produk-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(119, 198, 119);
  clip-path: circle(120px at center);
  transition: 0.5s;
}

.produk-card:hover .produk-circle::before {
  background: #0065c3;
  clip-path: circle(400px at center);
}

.produk-card .produk-content{
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.5ms;
  opacity: 0;
  visibility: hidden;
}

.produk-card:hover .produk-content {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: 0.75s;
}

.produk-card .produk-content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 5px;
}

.produk-card .produk-content h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 10px;
  font-weight: 700;
}

.produk-card .produk-content p {
  color: #fff;
}

.produk-card .produk-content a {
  position: relative;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  color: #111;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  transition: 0.5ms;
}

.produk-card img {
  position: absolute;
  size: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 340px;
  pointer-events: none;
  transition: 0.5s;
}

.produk-card:hover img {
  left: 75%;
  height: 300px;
}

.container-artikel {
    /* background-color: bisque; */
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
  }
  
  .artikel-card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
  }
  
  .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 50px;
  }
  
  .artikel-title {
    margin-bottom: 10px;
  }

  .artikel-title a {
    color: inherit;
    text-decoration: inherit;
  }

  .card-body p {
    font-size: 13px;
    margin: 0 0 0px;
  }

  .footer-container {
    display: flex;
    width: 100%;
}

#footer-copyright {
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: blueviolet;
    color: white;
}